body {
    background-color: rgb(255, 231, 47);
}

.eye {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 5;
    background-color: rgb(255, 255, 255); 
    height: 150px;
    width: 150px;
    display: inline-block;
}

.pupil {
    background-color: black;
    height: 70px;
    width: 70px;
    margin-top: 30px;
    margin-left: 30px;
}

.mouth {
    background-color: rgb(0, 0, 0);
    height: 250px; 
    width: 350px;
    margin-top: 30px;
    margin-left: 6px;
    
}

.teeth {
    background-color: white;
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: 5px;
    margin-top: 35px;
}

.tongue {
    background-color: red;
    height: 100px;
    width: 160px;
    margin-top: 50px;
    margin-left: 95px;
}

.line {
    background-color: black;
    height: 70px;
    width: 5px;
    margin-top: -70px;
    margin-left: 170px;
}