/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

h1{
  color: rgb(235, 115, 219);
}

li {
  color: rgb(197, 118, 250);
}

p{
  color: #6ce791;
}

h4{
  color: rgba(0, 134, 222, 0.5)
}